<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title sec:authentication="name"></title>
    <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'/>
    <style type="text/css">
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Spring Security example</a>
        </div>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/">home</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <h1 th:text="${msg.title}"></h1>
        <p class="bg-primary" th:text="${msg.content}"></p>
        <div sec:authorize="hasRole('ADMIN')" >
            <p class="bg-info" th:text="${msg.adminInfo}"></p>
        </div>
        <div sec:authorize="hasRole('GUEST')" >
            <p class="bg-info" th:text="${msg.guestInfo}"></p>
        </div>
        <p class="bg-info" >No more messages</p>
    </div>
    <form action="/logout" th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-primary" value="logout" />
    </form>
</div>

</body>
</html>